@import '../../base.scss';

.thumbnail-gallery {
  @include breakpoint($mobile) {
    display: none;
  }

  .thumbnails {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .thumbnail-gallery-title {
    text-align: center;
    letter-spacing: 0.2em;
  }
  
}